<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GlowingSporkRecipes</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="block">
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item logo" href="#">
               <%= image_tag "spork.png" %>
               <h1 class="title is-3"> &nbsp; Glowing Spork Recipes </h1>
              </a>
              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <div class="navbar-menu">
              <div class="navbar-start">
                <a href="#" class="navbar-item">My Recipes</a>
                <a href="#" class="navbar-item">Top Rated</a>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">Catagories</a>
                  <div class="navbar-dropdown">
                    <a class="navbar-item">Thai</a>
                    <a class="navbar-item">Vietnamese</a>
                    <a class="navbar-item">Mexican</a>
                  </div>
                </div>
              </div>

  <!-- # login or search -->
              <!-- <a href="#" class="navbar-item">Search</a> -->
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-light"> Sign up </a>
                    <a class="button is-light"> Log in </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </section>
    <section class="main">
      <%= yield %>
    </section>
  </body>
</html>

